* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: rgb(145, 128, 108);
        }

        #navbar {
            position: sticky;
            top: 0%;
        }

        .header {
            height: 70px;
            background-color: gray;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .header img {
            width: 100px;
            height: auto;

        }

        .icon {
            margin-left: 50px;
        }

        .icons {
            position: relative;
            top: 0;
            left: 350px;
        }

        #logo {
            position: absolute;
            top: 20px;
            left: 0;
        }

        ul {
            display: flex;
            gap: 50px;
            list-style-type: none;
        }

        .icons li img {
            width: 30px;
            height: auto;
        }

        .container {
            background-color: lightblue;
            width: 100%;
            height: 700px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .content {
            text-align: center;
            width: 40%;
            height: auto;
            float: left;
        }

        .shoes {
            display: flex;
            width: 60%;
            float: right;
            gap: 10px;

        }

        .shoes img {
            width: 200px;
            height: 200px;
            margin-right: 30px;
            margin-bottom: 10px;
        }

        .container1 {
            background-color: azure;
            width: 100%;
            height: 700px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .content1 {
            position: absolute;
            right: 0%;
            float: right;
            text-align: center;
            width: 40%;
            height: auto;
        }

        .shoes1 {
            display: flex;
            justify-content: space-around;
            width: 60%;
            float: left;
            gap: 10px;

        }

        .shoes1 img {
            width: 200px;
            height: 200px;
            margin-right: 30px;
            margin-bottom: 10px;
        }

        h2,
        p,
        img,
        ul {
            cursor: pointer;
        }

        .footer ul {
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .main-footer-all {
            background-color: gray;
            height: 350px;
        }

        .footer {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .footer ul li img {
            width: 40px;
            height: auto;
        }

        .main-footer {
            text-align: center;
            background-color: rgb(127, 39, 39);
            font-size: larger;
            height: 70px;
            padding-top: 20px;
        }

        .shoes img:hover {
            transform: scale(1.3);
            transition: all 1s ease-in-out;
        }

        .shoes1 img:hover {
            transform: scale(1.3);
            transition: all 1s ease-in-out;
        }

        .ofh {
            width: 200px;
            height: 200px;
            overflow: hidden;
        }